
  <input class="form-control mb-2" type="text" id="gameName" name="gameName" placeholder="Search">
  <!-- Input to url -->
  <!-- Misses link to get request-->
  <button onclick=searchGames() class="btn btn-secondary" id="searchGameButton">Search</button>

  <p id="demo">hehe</p>


<div class="album py-5 bg-light">
        <div class="container">
          <div class="row">
           {{#each games}}
            <div class="col-md-4">
              <div class="card mb-4 box-shadow">
                <div class="card-body">
                  <p class="card-text">Name: {{name}}</p>
                  <p class="card-text">Rating: {{total_rating}}</p>
                  <p class="card-text">Summary: {{summary}}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <!-- PUT method here to add group to group-->  
                      <button class="addToGroup btn btn-sm btn-outline-secondary" id='{{id}}'>Add To Group</button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {{/each}}

          </div>
        </div>
</div>

<script src="/js/searchGames.js"></script>


